.petrol {
  width: 100%;
  height: 200px;
}

.container-petrol {
  margin-left: auto;
  margin-right: auto;
}
.petrol-title {
  color: rgba(23, 23, 37, 1);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 15px;
}
